# Lesson 4: For loops

A for loop can be used to repeat actions over a set of values.

In [2]:
name = 'Jimmy'

for letter in name:
    print(letter)

J
i
m
m
y

For loops are constructed via the syntax for LOOP_VARIABLE in ITERABLE.  The loop variable in the above example I've used is `letter` and the iterable I've used is the string `name`, which was defined as `'Jimmy'`.  Other iterables include lists and dictionary keys, which we'll discuss later.  You can construct an iterable corresponding to a set of numbers beginning at 0 and ending at a certain number by using the built-in range function:

In [3]:
for number in range(6):
    print(number)

0
1
2
3
4
5

In [7]:
for number in range(2, 10):
    if number % 2 == 0:
        print(number, "is even")

2 is even
4 is even
6 is even
8 is even

In [5]:
my_sum = 0

for number in range(6):
    my_sum += number
print("Sum of numbers from 0 to 5 is", my_sum)

Sum of numbers from 0 to 5 is 15

In [6]:
for n, letter in enumerate(name):
    print("Letter", n, "-", letter)

Letter 0 - J
Letter 1 - i
Letter 2 - m
Letter 3 - m
Letter 4 - y

Iterables have a length, and you can find this length using the len function.

In [9]:
print("Length of", name, "is", len(name))

Length of Jimmy is 5

In [11]:
for letter1, letter2 in zip("Jimmy", "Heath"):
    print(letter1, letter2)

J H
i e
m a
m t
y h

Exercise: write a for loop that computes the sum of all of the squares from 2 to 11.